:root {
    --mainColor : #2E0249;
    --secondaryColor : #400763;
    --acsentColor : #F806CC;

}

body {
    background-color: var(--mainColor);
    min-height: 900px;
    font-family: 'ubuntu', sans-serif;
}

section h1{
    color: #fff;
    font-size: 2.5rem;
}

/* Navbar */

.nav-link.active {
    color: var(--acsentColor) !important;
    font-weight: 700;
}

.nav-dark {
    background-color: var(--secondaryColor) !important;
    z-index: 10;
    transition: 0.5s;
}

/* End Navbar/ */

/* Hero Section */

.color-acsent {
    color: var(--acsentColor);
}

#hero {
    color: #fff;
    min-height: 100vh;
    padding-top: 75px;
}

#hero h1{
    font-size: 3rem;
}

#hero h2{
    font-weight: 300;
}

#hero p{
    font-size: 1.1rem;
    font-weight: 300;
}

.cv {
    color: #fff;
    cursor: pointer;
    font-size: 1.1rem;
}

.social-icon svg {
    margin-right: 0.7em;
    margin-bottom: 10px;
}

/* End Hero Section */

/* CTA */
.btn-custom1 {
    background-color: var(--acsentColor);
    border: none;
    text-align: center;
    color: #fff;
    min-width: 150px;
    height: 45px;
    font-weight: 700;
    font-size: 1.2rem;
}

.btn-custom1:hover {
    background-color: var(--acsentColor);
    color: var(--mainColor);
    border: none;
    box-shadow: 0 0 5px rgba(253, 0, 241, 0.945);
}
/* CTA */

/* About */
hr {
    width: 35%;
    height: 5px;
    color: var(--acsentColor);
    margin: 0 auto;
    opacity: 100%;
}

#about {
    min-height: 300px;
    width: 100%;
    background-color: var(--secondaryColor);
    color: #fff;
    padding-top: 80px;
    padding-bottom: 80px;
    margin-bottom: 80px;
}

#about p {
    font-weight: 300;
}


/* End About */

/* Skills */

#skill {
    min-height: 600px;
    width: 100%;
    color: #fff;
}

#skill img {
    width: 12%;
    margin: 10px;
}

#skill .card {
    background-color: #4F226B;
    height: 383px;

}

#skill .card:hover {
    background-color: var(--acsentColor);
}

#skill .skill-konten {
    margin-top: 120px;
}

/* End Skills */

/* Certificate */

#certificate {
    margin-top: -170px;
    padding: 270px;
    padding-bottom: 80px;
    background-color: var(--secondaryColor);
}

#certificate p,a {
    color: #fff !important;
    text-decoration: none;
}

#certificate img{
    width: 45%;
    margin: 10px;
}

/* End Certificate */

/* Portofolio */

#portofolio .container {
    padding: 80px 10px;
}

/* End Portofolio */

/* Footer */

.social-icon-footer svg {
    margin-right: .7em;
    margin-bottom: 10px;
}

/* Footer */